.imgCompare {
	height: 100vh !important;
	overflow: hidden;
}

.imgCompare > div {
	height: 100% !important;
}

.imgBack{
	position: absolute;
	font-size: 2em;
	z-index: 10;
	left: 3%;
	top: 3%;
}

.arrow{
	width: 1.5em;
}
